# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Kotlin
kotlin/
*.class

# Generated
**/build/
**/generated/
**/intermediates/
**/transforms/
**/outputs/
**/kspCaches/